@media (max-width: 1200px)
  .container
    max-width: 960px
  .header
    &-top
      padding-top: 20px
      &__buttons
        margin-left: 267px
  .aboutus
    &-img
      &-mac
        width: 600px
        height: 500px
      &-iphone
        width: 200px
        height: 412px
        top: 202px
        right: 396px