@media (max-width: 1300px)
  .feedback
    &-card
      width: 49%
      margin-right: 15px
    &-slider
      justify-content: center
    &-button
      &-right
        left: 95%
      &-left
        right: 95%
@media (max-width: 1200px)
  .container
    max-width: 935px
  .header
    &-top
      padding-top: 20px
      &-buttons
        margin-left: 220px
      &-learn 
        margin-right: 20px
  .aboutus
    &-img
      &-mac
        width: 600px
        height: 500px
      &-iphone
        width: 200px
        height: 412px
        top: 144px
        right: 396px
  .ourpartners
    &-block
      width: 98%
    &-image
      width: 98%
  .what
    &-describ
      flex-wrap: wrap
    &-doing
      width: 98%
  .portfolio
    &-slider
      width: 98%
      &-section
        width: 300px
  .feedback
    &-card
      width: 80%
    &-button
      &-left 
        left: 2%
      &-right
        left: 92%    
  .social
    &-links
      width: 100%
    &-link
      width: 22%
      &-text
        width: 90%
  .footer
    padding: 50px 0 50px
    &-wrapper
      width: 100%
      flex-direction: column
      margin: 0
    &-ul
      width: 98%
    &-logo
      margin-top: 30px
      width: 100%
      align-items: center
      order: 2
    &-like
      display: none
@media (max-width: 960px)
  .container,
    max-width: 730px
  .header
    &-top
      &-buttons
        margin-left: 66px
      &-learn
        margin-left: 20px
  .aboutus
    &-us 
      padding-top: 30px
      padding-bottom: 30px
    &-text
      width: 310px
      &-text
        width: 100%
    &-img
      &-mac
        top: 100px
        width: 600px
        height: 435px
      &-iphone
        width: 180px
        height: 360px
        top: 200px
        right: 396px
      &-oval
        bottom: 40px    
  .ourpartners
    padding-top: 30px
    padding-bottom: 30px
    &-block
      flex-wrap: wrap
      margin-bottom: 30px
    &-title
      margin-bottom: 22px
    &-describ
      margin-bottom: 20px
    &-text 
      width: 100%
    &-image
      width: 100%
      flex-wrap: wrap
      &-logo
        width: 125px
        padding: 25px
        px 25px
  .what
    padding: 30px 0 30px
    &-doing
      &-box
        width: 49%
  .portfolio
    padding: 30px 0 30px
    &-slider
      &-text
        width: 100%
      &-section
        width: 49%
  .feedback
    &-button
      top: 110%
      &-left 
        left: 28%
      &-right
        left: 65%    
    &-card
      width: 89%
  .social
    padding-top: 60px
    &-titel
      font-size: 14px
      line-height: 19px
    &-text 
      font-size: 28px
      line-height: 36px
      margin-bottom: 30px
    &-links
      flex-wrap: wrap
    &-link
      margin-top: 32px  
      width: 40%
  .letstalk
    padding: 50px 0 50px
  .footer
    &-ul
      flex-wrap: wrap
      padding: 50px 0 30px
    &-list
      padding-left: 50px
      margin-bottom: 20px
      width: 49%
    &-wrapper
      width: 100%
      flex-direction: column
      margin: 0
    &-logo
      margin: 0
      margin-top: 30px
      width: 100%
      align-items: center
      order: 2
    &-like
      display: none
@media ( max-width: 992px )
  .container
    max-width: 94%
  .header
    &-top
      &-buttons
        display: none
  .button
    &-mobile
        &-hidden
          display: none
    &-learn  
      &-mobile
        &-hidden
          display: none
  .aboutus
    &-text
      &-button
        &:hover
          background-color: $titel-color
          color: $light
  .menu
    &-button
      background: #ffffff
      display: flex
      align-items: center
      width: 22px
      height: 18px
      padding: 0
      justify-content: space-between
      flex-direction: column
      border: none
      cursor: pointer
      outline: none
      margin-right: 5px
      margin-bottom: 4px
      z-index: 5
      &-line
        width: 22px
        height: 2px
        background-color: #000
        z-index: 5
  .logo5
    display: none
  .portfolio
    &-titel
      font-size: 14px
      line-height: 19px
      text-align: center
    &-text
      font-size: 28px
      line-height: 36px
      text-align: center
    &-slider
      justify-content: center
      flex-wrap: wrap
      &-image
        width: 100%
      &-section
        width: 80%
        margin-bottom: 30px
    &-button
      &-right
        right: 77px
        &:hover
          width: 14px
          border-radius: none
          box-shadow: none
      &-left
        right: 115px
        &:hover
          width: 14px
          border-radius: none
          box-shadow: none
  .what
    &-doing
      &-box
        width: 48%
  .feedback
    &-card
      width: 90%
    &-button
      &:hover
        border: none
        box-shadow: none
      &-left
      &-right
        left: 58%
  .social
    &-link 
      &-snear 
        &:hover
          background: $light
      &-button
        &:hover
          border-radius: 0
          background: $light
          border: none
          color: $blue
  .letstalk
    &-button
      &:hover
        background-color: $light
        border: none
        color: $titel-color
  .home
    &-button
      &:hover
        background: $light
        color: $titel-color 
  .footer 
    &-logo
      &-icon
        &:hover
          background-color: $titel-color
          border-radius: none
    &-list
      &-link
        &:hover
          color: #959EAD
  .modal
    &-close
      &:hover
        transform: none
    &-button
      &:hover
        border: none
        background: $light 
        color: $titel-color
  .modalmail
    &-mail
      &-close
        &:hover
          transform: none
@media ( max-width: 560px)
  .container
    width: 90%
  .aboutus
    overflow: visible
    &-us
      flex-direction: column  
    &-text
      width: 100%
      text-align: center
      &-down
        left: 225px
        bottom: -600px
      &-titel
        width: 92%
        font-size: 30px
        line-height: 36px
        margin-bottom: 8px
      &-text 
        width: 92%
        font-size: 16px
        line-height: 28px
        margin-bottom: 11px
      &-button
        padding: 11px 35px 13px 37px
        margin: 7px 25px 0 0
        font-size: 16px
        line-height: 22px
    &-img 
      width: 100%
      overflow: hidden
      &-mac
        width: 500px
        left: 28px
      &-iphone
        left: 0
        bottom: 0          
      &-oval
        position: relative
        left: 10px 
  .small
    font-size: 30px;
    line-height: 36px    
  .ourpartners
    padding-top: 44px
    padding-bottom: 69px
    &-title
      font-size: 14px;
      line-height: 19px;
      text-align: center
      margin-bottom: 24px
    &-block
      margin-bottom: 27px
    &-describ
      width: 100%
      padding: 0 15px
      text-align: center
      font-size: 28px;
      line-height: 29px;
      margin-bottom: 15px
    &-text
      padding: 0 15px
      text-align: center
      font-size: 13px;
      line-height: 24px;
    &-image
      padding: 0 23px
      &-logo
        padding: 0 12px 21px 10px
        width: 49%
  .what
    padding-top: 7px 
    &-describ
      margin-bottom: 10px
      &-h4
        width: 100%
      &-titel
        font-size: 28px
        line-height: 36px
        text-align: center
        margin-bottom: 15px
      &-text
        text-align: center
        font-size: 16px
        line-height: 28px
    &-doing
      &-titel
        &-branding
          margin-bottom: 0
        &-development
          margin-bottom: -2px
        &-micro
          margin: 15px 0 5px 0
        &-social
          margin: 0
        &-design
          margin: -2px 0 -1px -6px
        &-study
          margin: 0
      &-box
        width: 93%
        display: flex
        flex-wrap: wrap
        margin-left: 11px
        margin-bottom: 7px
        height: 197px
        &-img
          margin: 18px 19px 0 26px
        &-text
          width: 85%
          margin: 0 0 0 20px
  .card1
    padding-bottom: 29px
    order: 1
  .card2
    padding-bottom: 3px
    order: 2
  .card3    
    order: 5
  .card4
    padding-bottom: 43px
    order: 3
  .card5
    order: 4
  .card6
    order: 6
  .portfolio
    &-titel
      font-size: 14px
      line-height: 19px
      text-align: center
    &-text
      font-size: 28px
      line-height: 36px
      text-align: center
    &-slider
      justify-content: center
      flex-wrap: wrap
      &-image
        width: 100%
      &-section
        width: 80%
        margin-bottom: 30px
    &-button 
      display: none
  .feedback
    padding-bottom: 60px
    &-titel
      font-size: 14px
      line-height: 19px
      text-align: center
    &-text
      font-size: 28px
      line-height: 36px
      text-align: center
    &-card
      margin: 0
      width: 100%
      &-c2
        display: none
    &-button
      top: 110%
      &-left 
        left: 29%
      &-right
        right: 30%
  .letstalk
    &-titel
      font-size: 28px
      line-height: 30px
    &-text
      font-size: 16px
      line-height: 27px
    &-button
      width: 170px
      padding-left: 32px
  .footer
    &-ul
      width: 100%
      flex-wrap: wrap
    &-list
      padding: 0
      margin-bottom: 39px
      width: 49%
      &-li 
        width: 100%
      &-titel
        font-size: 16px
        line-height: 22px
      &-link 
        font-size: 14px   
        line-height: 20px
    &-logo
      &-text
        font-size: 14px
        text-align: center;
@media ( max-width: 320px) 
  .container
    width: 95%
  .aboutus
    &-us
      padding-bottom: 0
    &-text
      text-align: center
      &-titel
        width: 92%
        font-size: 30px
        line-height: 36px
        margin-bottom: -1px
      &-text 
        width: 92%
        font-size: 16px
        line-height: 28px
        margin-bottom: 11px
        margin-top: 10px
      &-button
        padding: 11px 35px 13px 37px
        margin: 7px 25px 0 0
        font-size: 16px
        line-height: 22px
      &-down
        width: 48px
        height: 48px
        left: 115px
        bottom: -367px
    &-img
      &-mac
        width: 356px
        height: 241px
        left: -53px
        top: 47px
      &-iphone
        width: 105px
        height: 194px
        top: 99px
        left: -53px
      &-oval
        width: 290px
        left: 83px
  .ourpartners
    padding-top: 29px
    &-title
      margin-right: -12px
    &-describ
      margin-right:  13px
    &-text
      margin-left: -8px
    &-image
      margin-left: -9px
  .small
    margin: 0
    width: 92%
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
  .what
    &-describ
      &-titel
        margin-left: -13px
        margin-top: -1px
      &-text
        margin-left: -7px
        margin-right: 8px
        margin-bottom: -4px
    &-doing
      &-box
        margin-left: 0
        width: 94%
        &-img 
          margin: 20px 0px 0px 28px 
        &-text
          margin-left: 25px
      &-titel
        font-size: 20px;
        line-height: 24px;
      &-text 
        margin-top: 8px
  .card1
    padding-bottom: 19px
  .card2
    padding-bottom: 0
  .card3
    padding-top: 1px
    padding-bottom: 0px
    padding-right: 27px
  .card4
    padding-bottom: 38px
  .card6
    padding-bottom: 0px
  .portfolio
    padding: 44px 0 10px
    &-titel
      margin-left: -2px
    &-text
      margin-right: 15px
      margin-bottom: 33px
    &-slider
      justify-content: start
      flex-wrap: wrap
      &-descr
        padding: 17px 0 0 0
      &-text
        width: 100%
        text-align: center        
      &-titel
        font-size: 24px;
        line-height: 32px
        padding: 12px 7px 22px 0 
      &-image
        height: 302px
      &-section
        width: 93%
        height: 410px
        margin-bottom: 14px
        &-project2
          display: block
          margin-bottom: 20px
        &-project3
          display: block
          margin-bottom: 20px
        &-project4
          display: block
  .feedback
    padding: 27px 0 50px
    &-titel
      margin-left: -29px
      margin-bottom: 24px
    &-text
      margin-right: 15px
      margin-bottom: 70px
    &-slider
      width: 97%
    &-card
      padding: 20px 20px 20px 9px
      text-align: center
    &-user
      justify-content: center
      &-img
        margin: 0 0 15px 0 
      &-name
        margin: 0 0 8px 0
        font-size: 20px
        line-height: 24px
      &-position
        margin: 0 0 6px -4px
        font-size: 11px
        line-height: 27px
      &-text
        margin: 0 0 0 0
        font-size: 14px 
        line-height: 22px
    &-button 
      top: 106.5%
  .social
    padding: 95px 0 53px 0 
    &-titel
      margin: -3px 12px 22px 0
    &-text
      margin: 0 0 0 -6px
    &-link
      margin-left: 0
    &-link
      width: 44%
      &-tw
        margin-right: 17px
      &-you  
        margin-right: 17px
      &-snear
        width: 48px
        margin: 0 0 12px 0
        &-tw
          margin: 0 0 0 0
      &-name
        margin: 0 0 8px 0
        &-tw 
          margin: -6px 4px -14px 0
        &-dr
          margin: -3px 0 7px 0
        &-you
          margin: -2px 0 8px 0
      &-text 
        width: 94%
        font-size: 13px
        line-height: 19px
        margin: 2px 0 9px 2px 
        &-tw 
          margin: 9px 0 10px -2px
        &-dr
          margin: 2px 0 11px 4px
        &-you
          margin: 0 0 3px 0
      &-arrow
        margin: 0 -3px -1px 0
      &-button 
        font-size: 11px
        line-height: 20px
        &-ins
          margin: 0 0 0 0
        &-tw
          margin: 0 9px 2px 0
        &-dr
          margin: 16px 0 4px 0
        &-you
          margin: 0 4px 4px 0
  .letstalk
    padding: 66px 0 64px 
    &-titel
      margin: -2px 18px 33px 0
    &-text
      width: 93%      
      margin: 0 15px 11px 0
    &-button
      margin: 0 18px 0 0
      padding: 13px 25px 13px 23px
  .footer
    padding: 0px 0 50px 0
    &-ul
      justify-content: center
      padding-bottom: 0
    &-list
      width: 50%
      margin-right: 
      margin-left: 
      margin-bottom: 25px
      &-titel
        margin-bottom: 20px
      &-li 
        margin: 0 0 15px 0
        width: 70% 
    &-logo
      margin: 4px 0 0 -7px
      &-img
        width: 77px
        margin-bottom: 13px
      &-text
        text-align: center
        margin: 0 14px 24px 0 
      &-icons
        margin-right: 5px
  .m560
    display: none
  .m320
    display: flex
