.aboutus
  display: flex
  overflow: hidden    
  &-us
    display: flex
    margin: 0
    padding: 56px 0 150px
  &-text
    position: relative
    width: 499px
    margin: 0
    &-titel
      margin: 0
      font-family: Roboto
      font-size: 48px
      line-height: 125%
      color: $titel-color
      letter-spacing: 0.2px
      margin-bottom: 14px
    &-text
      margin: 0
      width: 457px
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 32px;
      margin-bottom: 63px
    &-button
      padding: 17px 41px 15px 40px
      background-color: $titel-color
      border-radius: 8px
      outline: none
      cursor: pointer
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px
      color: $light
    &-down
      position: fixed
      bottom: 20px
      left: 150px
      width: 54px
      height: 56px
      background-color: $light
      border-radius: 40px
      border-color: $titel-color
      border: solid 2px
      outline: none
      cursor: pointer
      padding-top: 8px
      padding-left: 8px
  &-img
    position: relative
    top: 0
    right: 0
    width: 100%
    &-point
      position: absolute
      width: 102px
      left: 39px
      top: 109px
    &-mac
      max-width: 900px
      height: 565px
      position: absolute
      left: 107px
      top: 9px
    &-iphone
      width: 217px
      height: 444px
      position: absolute
      top: 152px
      left: 68px
      z-index: 100
    &-oval
      position: absolute
      z-index: -5
      bottom: -200px
      left: 200px

.small
  font-size: 36px
  margin-top: 3px
  margin-bottom: -2px
