.aboutus
  display: flex
  overflow: hidden    
  &-us
    display: flex
    margin: 0
    padding: 56px 0 214px
  &-text
    position: relative
    width: 499px
    margin: 0
    &-titel
      margin: 0
      font-family: Roboto
      font-size: 48px
      line-height: 125%
      color: $titel-color
      letter-spacing: 0.2px
      margin-bottom: 14px
    &-text
      margin: 0
      width: 457px
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 32px;
      margin-bottom: 63px
    &-button
      padding: 17px 41px 15px 40px
      background-color: $titel-color
      border-radius: 8px
      outline: none
      cursor: pointer
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px
      color: $light
      &:hover
        background: #fff
        color: $titel-color
    &-down
      position: absolute
      bottom: -109px
      left: 5px
      width: 54px
      height: 56px
      background-color: $light
      border-radius: 40px
      border: solid 2px $color-text
      outline: none
      cursor: pointer
      padding-top: 8px
      padding-left: 6px
      &:hover
        background-color: #afcaf0
  &-img
    position: relative
    top: 0
    right: 0
    width: 600px
    &-point
      position: absolute
      width: 102px
      left: 40px
      top: 109px
    &-mac
      max-width: 900px
      height: 565px
      position: absolute
      left: 110px
      top: 9px
    &-iphone
      width: 217px
      height: 444px
      position: absolute
      top: 152px
      left: 73px
      z-index: 1
    &-oval
      position: absolute
      max-width: 540px
      max-height: 540px
      z-index: -5
      bottom: -200px
      left: 333px
.small
  color: $titel-color
  font-size: 36px
  margin-top: 3px
  margin-bottom: 6px
