.header
  position: sticky
  top: 0
  z-index: 10
  background-color: $body-bgc
  &-top
    display: flex
    align-items: center
    justify-content: space-between
    padding-top: 39px
    padding-bottom: 20px 
    &-buttons
      width: 423px
      display: flex
      justify-content: space-between
      margin-left: 451px
      padding-left: 9px
    &-learn
      margin-left: 47px
      margin-right: -5px
  &-button
    display: none
    &-buttons
      &-visible
        display: none
.button
  position: relative
  list-style-type: none
  font-style: normal
  font-weight: 600
  font-size: 16px
  line-height: 22px
  text-align: center
  color: $titel-color
  cursor: pointer
  margin-right: 6px
  padding-left: 4px
  &:hover
    color: $blue
    background-color: #e6e4be
    border-radius: 4px
  &-down
  &-downl
    &:hover
      .drop-downs
        display: block
  &-downs
    &:hover
      .drop-down
        display: block
    &-img
      padding-bottom: 2px
  &-learn
    padding: 13px 24px 13px 24px
    background-color: $body-bgc
    color: $blue
    border-color: $blue
    border-radius: 8px
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px
    outline: none
    cursor: pointer
    &:hover
      background: $titel-color
      border: 2px solid $titel-color
      color: $light
    &-mobile
      &-visible
        display: none
.menu
  &-button
    display: none
.drop-down  
    list-style-type: none
    padding: 0
    position: absolute
    display: none
    z-index: 3
    background: #ffffff
    border-radius: 0 0 4px 4px
    &-item
      margin-top: 10px
.dropdownactive
  display: block
.drop-downs
    list-style-type: none
    padding: 0
    position: absolute
    display: none
    z-index: 3
    background: #ffffff
    border-radius: 0 0 4px 4px
    &-item
      margin-top: 10px
.dropdowsnactive
  display: block
.aclass
  text-decoration: none