.header
  background-color: $body-bgc
  &-top
    display: flex
    align-items: center
    justify-content: space-between
    padding-top: 39px
    padding-bottom: 20px  
    &__buttons
      width: 423px
      display: flex
      justify-content: space-between
      margin-left: 451px
      padding-left: 9px
    &__learn
      margin-left: 47px
      margin-right: -5px
  &-button
    display: none
    &__buttons
      &-visible
        display: none
.button
  position: relative
  list-style-type: none
  font-style: normal
  font-weight: 600
  font-size: 16px
  line-height: 22px
  text-align: center
  color: $titel-color
  cursor: pointer
  padding-right: 6px
  &-down
    &__img
      padding-bottom: 2px
  &-learn
    padding: 13px 24px 13px 24px
    background-color: $body-bgc
    color: $blue
    border-color: $blue
    border-radius: 8px
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px
    outline: none
    cursor: pointer
    &-mobile
      &-visible
        display: none
.menu
  &-button
    display: none
.drop-down  
    position: absolute
    display: none
.dropdownactive
  display: block