.lock
    overflow: hidden
.modal
  &-mail
    position: absolute
    top: 15px
    right: 15px
    max-width: 320px
    background-color: $titel-color
    padding: 25px
    border-radius: 8px
    overflow: hidden
    display: none    
    min-height: 50px
    width: 100%
    margin-top: 14px
    z-index: 15
    &-close
      position: absolute
      top: 15px
      right: 15px
      margin-bottom: 15px
      cursor: pointer
      &:hover
        transform: scale(1.2)
    &-logo
      position: absolute
      left: 18px
      top: 16px
      width: 60px
      cursor: pointer
  &-email
    border-radius: 4px
    overflow: hidden
  &-button
    margin: 10px 0px 0px 0px
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px;
    text-align: center
    color: #0D2436
    border: none      
    outline: none
    overflow: hidden
    padding: 13px 52px 13px 52px
    border-radius: 12px
    cursor: pointer
    z-index: 9
    &:hover
      border: 1px solid $light
      background: $titel-color
      color: $light
.openmail
  display: block
.closemail
  display: none